@media(min-width: 993px) {
	.sidenav {
	    transform: translateX(0%) !important;
	}
	main{
		margin-left: 300px;
		padding: 15px;
	}
}
main{
	padding-left: 10px;
	padding-right: 10px;
}
.bg-cover{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}